$main_color: #ff8b38;
$transition-time: 0.5s;

* {
    font-family: 'Open Sans', sans-serif;
}

@import 'blocks/container';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/devider';
@import 'blocks/button';
@import 'blocks/social';
@import 'blocks/tabs';
@import 'blocks/features';
@import 'blocks/advantages';