.button {
    margin-top: 44px;
    width: 135px;
    height: 42px;
    background: none;
    color: #fff;
    transition: $transition-time all;
    &:hover {
        cursor: pointer;
        color: $main_color;
        border-color: $main_color;
    }   
    &-yellow {
        margin-top: 51px;
        width: 121px;
        height: 46px;
        background-color: $main-color;
        border: none;
        border-radius: 2px;
        color: #fff;
        cursor: pointer;
    }
}