header {
    background-color: #000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

.hamburger {
    display: none;
}

.menu {
    width: 448px;
    display: flex;
    justify-content: space-between;
    &__logo {
        & img {
            height: 27px;
        }
    }
    &__item {
        padding-top: 5px;
        list-style-type: none;
        display: inline-block;
        height: 11px;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
    }
    &__link {
        color: rgba(255, 255, 255, 0.69);
        transition: $transition-time all;
        &:hover {
            text-decoration: none;
            color: $main_color;
        }
    }
}