@media ( max-width:  1200px ) {
    .container {
        width: 972px;
    }
    .promo {
        padding: 110px 0 139px 0;
    }
    .social__wrapper {
        width: 570px;
        font-size: 36px;
    }
    .tabs {
        &__item {
            width: 850px;
            padding-left: 50px;
        }
        &__wrapper {
            width: 470px;
        }
        &__img {
            width: 25%;
        }
    }
    .features {
        &__panel img {
            width: 85%;
        }
    }
    .pricing {
        &__item {
            width: 250px;
        }
        &__options {
            width: 250px;
        }
    }
    .contact-us {
        &__item {
            width: 400px;
        }
    }
}
@media ( max-width:  991px ) {
    .container {
        width: 748px;
        &_flex-media {
            flex-direction: column;
        }
    }
    .promo {
        padding: 50px 0 50px 0;
        min-height: 530px;
        &__header {
            font-size: 25px;
        }
        &__descr {
            width: 370px;
            font-size: 15px;
        }
    }
    .social {
        &__item {
            width: 315px;
        }
        &__descr {
            font-size: 13px;
        }
        &__wrapper {
            width: 430px;
            font-size: 25px;
        }
    }
    .tabs {
        padding: 50px 0 50px 0;
        min-height: 475px;
        &__item {
            width: 620px;
            padding-left: 50px;
        }
        &__wrapper {
            width: 400px;
        }
        &__img {
            width: 25%;
        }
    }
    .features {
        padding: 50px 0 50px 0;
        &_gray-bg {
            padding: 50px 0 50px 0;
        }
    }
    .advantages {
        padding: 50px 0 50px 0;
        &__item {
            width: 220px;
        }
    }
    .pricing {
        padding: 50px 0 50px 0;
        min-height: 790px;
        &__wrapper {
            justify-content: space-around;
            margin-top: 45px;
        }
        &__item {
            width: 242px;
        }
        &__options {
            width: 242px;
        }
    }
    .reviews {
        padding: 50px 0 50px 0;
        min-height: 540px;
        &__item {
            width: 235px;
        }
    }
    .stylish {
        padding: 50px 0 50px 0;
    }
    .contact-us {
        padding: 50px 0 50px 0;
        &__wrapper {
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }
        &__item {
            width: 500px;
        }
    }
}
@media ( max-width: 767px ) {
    .container {
        width: 556px;
        &_flex-media {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
    }
    .promo {
        &__item {
            margin-top: 30px;
            width: 400px;
            display: block;
            position: relative;
        }
        &__form-wrapper {
            position: relative;
        }
    }
    .social {
        &__item {
            width: 450px;
        }
        &__wrapper {
            width: 512px;
        }
    }
    .tabs {
        &__item {
            width: 430px;
        }
        &__img {
            display: none;
        }
    }
    .advantages {
        &__wrapper {
            margin-top: 20px;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__item {
            margin-top: 20px;
        }
    }
    .pricing {
        &__wrapper {
            flex-wrap: wrap;
            min-height: 1000px;
        }
        &__item {
            margin-top: 15px;
        }
    }
    .reviews {
        &__wrapper {
            margin-top: 0;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        &__item {
            margin-top: 20px;
        }
    }
}
@media ( max-width: 575px ) {
    .container {
        width: 300px;
    }
    .menu {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 0;
        background-color: rgba(0,0,0, .8);
        transition: $transition-time all;
        z-index: 50;
		&_active {
			left: 0;
        }
		&__item {
			border: none;
            margin: 20px 0;
            height: 30px;
            padding: 0;
        }
		&__link {
			font-size: 20px;
        }
    }
    .hamburger {
		display: block;
		position: absolute;
		right: 26px;
		top: 36px;
		transform: translateY(-50%);
		width: 26px;
		height: 12px;
		& span {
			display: block;
			height: 2px;
			width: 100%;
			background-color: #fff;
			margin-bottom: 2px;
			transition: $transition-time all;
        } 
		&_active {
			& span {
				margin-bottom: -2px;
				&:nth-child(1) {
					transform: translateY(3px) rotate(-45deg);
                }
				&:nth-child(2) {
					display: none;
                }
				&:nth-child(3) {
					transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }
    .promo {
        &__item {
            width: 300px;
        }
        &__descr {
            width: 300px;
        }
        &__form-wrapper {
            width: 300px;
            right: 0;
            bottom: 0;
        }
        &__form {
            &-button {
                width: 300px;
            }
        }
    }
    .social {
        &__item {
            width: 300px;
        }
        &__wrapper {
            width: 300px;
        }
    }
    .tabs {
        &__btns {
            display: flex;
            justify-content: space-between;
        }
        &__btn {
            width: 100px;
            height: 100px;
        }
        &__item {
            width: 300px;
            padding: 0;
        }
        &__descr {
            margin-top: 5px;
        }
    }
    .features {
        & img {
            width: 300px;
        }
        &__panel {
            width: 300px;
        }
        &__item {
            width: 245px;
        }
        &_gray-bg {
            & img {
                width: 300px;
            }
        }
    }
    .pricing {
        &__wrapper {
            min-height: 1420px;
        }
    }
    .contact-us {
        &__item {
            width: 300px;
        }
    }
    .footer {
        &__wrapper {
            width: 300px;
        }
    }
}