@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hxevy9');
  src:  url('../fonts/icomoon.eot?hxevy9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hxevy9') format('truetype'),
    url('../fonts/icomoon.woff?hxevy9') format('woff'),
    url('../fonts/icomoon.svg?hxevy9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-stumbleupon:before {
  content: "\eace";
}
.icon-pinterest:before {
  content: "\ead1";
}
